@model ProductsPageViewModel

@{
    ViewData["Title"] = "Index Filterd";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New <i class="bi bi-plus-lg"></i></a>
</p>

<div>
    <form class="row"
          data-ajax="true"
          data-ajax-url="_IndexPartial"
          data-ajax-update="#products_list">
        <div class="col-auto">
            <input asp-for="Filter" class="form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                DESCRIPTION
            </th>
            <th>
                PRIX
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="products_list">
        <partial name="_IndexPartial" model="@Model.Products" />
    </tbody>
</table>

@*@section Scripts
    {
    <script>

        function findByDescription() {

            $.ajax({
                type: "Get",
                url: "/Products/_GetByDescription?desc=" + $("#myInput").val(),
                success: function (reponse) {
                    $("#products_list").html(reponse);
                }
            });
        }

    </script>
}*@