@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Razor View Engine</h2>

    <p>
        Razor est moteur de rendu supporté par ASP .NET MVC
    </p>
    <p>
        Razor permet de mélanger le langae HTML avec un langage côté serveur. Visual Basic (.vbhtml) et c# (.cshtml).
    </p>
    <p>
        Le symbole @@ est utilisé pour atteindre des variables côté serveur et pour définir des blocs d'instruction.
    </p>
</div>
