@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section sectionFromPrivacyView{
    <p class="text-danger">Contenu envoyé depuis la Vue "Privacy" et rendu grace à l'appel de "RenderSection" dans la vue partielle "_LayoutCustom"'</p>
}